<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpdeQJSG5npW-1boXdl5vr3IFsALT68FU</string>
	<key>GCM_SENDER_ID</key>
	<string>615855908073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.truthBit</string>
	<key>PROJECT_ID</key>
	<string>truthbit-d6af2</string>
	<key>STORAGE_BUCKET</key>
	<string>truthbit-d6af2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615855908073:ios:a8585f054557657d42fc78</string>
</dict>
</plist>